
 body { 
    background: url("https://vignette.wikia.nocookie.net/dcanimated/images/4/49/Batcave.png/revision/latest?cb=20180707194421");
    background-repeat:no-repeat;
    background-position: center; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
h1{
    font-family: 'Limelight', cursive;
    text-align: center;
    font-size: 75px;
    color: yellow;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    margin-top: 5px;
    margin-bottom: 20px;
}
hr{
    background-color: white;
    width: 50%;
}
h4{
    font-family: 'Caveat', cursive;
    color: white;
}
h2{
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 40pt;
    color: red;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}
.line-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.char-box{
margin-right: 5vw;
margin-left: 2vw;
}

button{
    border-radius: 10px;
    background-color: yellow;
    color: black;
    font-family: 'Limelight', cursive;
    height: 5vh;
    width: 7vw;
    margin-top: 17vh;
    }
